{{> head}}

    {{> navbar }}
    <div class="row"> 
        <div class="col-8">
            <h1>Usuario</h1>
            <p></p>
        </div>
    <div class="col-4">
       
        <img src="assets/img/icon-mujer.png" class="img-thumbnail">
    </div>
</div>
   {{> footer}}